.admonition.note ul li {
    list-style-type: none; /* Removes bullets */
    margin-left: 0; /* Adjusts indentation */
    margin-bottom: 10px !important; /* Adjust space between items, 'important' for precedence */
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.rubric {
    font-size: larger; /* Adjust as needed */
}
